.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

.note-item{
    margin-bottom: 20px;
}

.note-item ul{
    display: flex;
    margin-top: 20px;
}

.note-item .card{
    min-height: 250px;
    
}

.note-item .card .card-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.note-item ul li {
    margin-right: 10px;
}